---
swagger: "2.0"
info:
  description: Define coinmarketcap's api in swagger 2.0 openapi standard
  version: 1.0.0
  title: Coinmarketcap API Swagger Implementation
host: pro-api.coinmarketcap.com
basePath: /v1
schemes:
- https
produces:
- application/json
security:
- ApiKeyAuth: []
paths:
  /cryptocurrency/map:
    get:
      summary: Get CoinMarketCap ID map
      description: Returns a paginated list of all cryptocurrencies by CoinMarketCap ID. We recommend using this convenience endpoint to lookup and utilize our unique cryptocurrency id across all endpoints as typical identifiers like ticker symbols can match multiple cryptocurrencies and change over time. As a convenience you may pass a comma-separated list of cryptocurrency symbols as symbol to filter this list to only those you require.
      parameters:
      - name: listing_status
        in: query
        description: Only active coins are returned by default. Pass 'inactive' to get a list of coins that are no longer active.
        required: false
        type: string
        default: active
      - name: start
        in: query
        description: Optionally offset the start (1-based index) of the paginated list of items to return.
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: limit
        in: query
        description: Optionally specify the number of results to return. Use this parameter and the "start" parameter to determine your own pagination size.
        required: false
        type: integer
        maximum: 5000
        minimum: 1
      - name: symbol
        in: query
        description: Optionally pass a comma-separated list of cryptocurrency symbols to return CoinMarketCap IDs for. If this option is passed, other options will be ignored.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Map'
              status:
                $ref: '#/definitions/Status'
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/Status'
  /cryptocurrency/info:
    get:
      summary: Get metadata
      description: Returns all static metadata for one or more cryptocurrencies including name, symbol, logo, and its various registered URLs.
      parameters:
      - name: id
        in: query
        description: 'One or more comma-separated CoinMarketCap cryptocurrency IDs. Example: "1,2"'
        required: false
        type: string
      - name: symbol
        in: query
        description: 'Alternatively pass one or more comma-separated cryptocurrency symbols. Example: "BTC,ETH". At least one "id" or "symbol" is required.'
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              data:
                type: object
                additionalProperties:
                  $ref: '#/definitions/Info'
              status:
                $ref: '#/definitions/Status'
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/Status'
  /cryptocurrency/listings/historical:
    get:
      summary: List all cryptocurrencies (historical)
      description: Get a paginated list of all cryptocurrencies with market data for a given historical time. Use the "convert" option to return market values in multiple fiat and cryptocurrency conversions in the same call.
      parameters:
      - name: timestamp
        in: query
        description: Timestamp (Unix or ISO 8601) to return historical cryptocurrency listings for.
        required: false
        type: string
      - name: start
        in: query
        description: Optionally offset the start (1-based index) of the paginated list of items to return.
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: limit
        in: query
        description: Optionally specify the number of results to return. Use this parameter and the "start" parameter to determine your own pagination size.
        required: false
        type: integer
        default: 100
        maximum: 5000
        minimum: 1
      - name: convert
        in: query
        description: Optionally calculate market quotes in up to 120 currencies at once by passing a comma-separated list of cryptocurrency or fiat currency symbols. Each additional convert option beyond the first requires an additional call credit. A list of supported fiat options can be found here. Each conversion is returned in its own "quote" object.
        required: false
        type: string
        default: USD
      - name: sort
        in: query
        description: |-
          Valid values: `name` `symbol` `date_added` `market_cap` `price` `circulating_supply` `total_supply` `max_supply` `num_market_pairs` `volume_24h` `percent_change_1h` `percent_change_24h` `percent_change_7d`
            What field to sort the list of cryptocurrencies by.
        required: false
        type: string
        default: market_cap
      - name: sort_dir
        in: query
        description: 'Valid values: `asc` `desc`. The direction in which to order cryptocurrencies against the specified sort.'
        required: false
        type: string
      - name: cryptocurrency_type
        in: query
        description: 'Valid values: `all` `coins` `tokens` The type of cryptocurrency to include.'
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/MarketData'
              status:
                $ref: '#/definitions/Status'
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/Status'
  /cryptocurrency/listings/latest:
    get:
      summary: List all cryptocurrencies (latest)
      description: Get a paginated list of all cryptocurrencies with latest market data. You can configure this call to sort by market cap or another market ranking field. Use the "convert" option to return market values in multiple fiat and cryptocurrency conversions in the same call.
      parameters:
      - name: start
        in: query
        description: Optionally offset the start (1-based index) of the paginated list of items to return.
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: limit
        in: query
        description: Optionally specify the number of results to return. Use this parameter and the "start" parameter to determine your own pagination size.
        required: false
        type: integer
        default: 100
        maximum: 5000
        minimum: 1
      - name: convert
        in: query
        description: Optionally calculate market quotes in up to 120 currencies at once by passing a comma-separated list of cryptocurrency or fiat currency symbols. Each additional convert option beyond the first requires an additional call credit. A list of supported fiat options can be found here. Each conversion is returned in its own "quote" object.
        required: false
        type: string
        default: USD
      - name: sort
        in: query
        description: |-
          Valid values: `name` `symbol` `date_added` `market_cap` `price` `circulating_supply` `total_supply` `max_supply` `num_market_pairs` `volume_24h` `percent_change_1h` `percent_change_24h` `percent_change_7d`
            What field to sort the list of cryptocurrencies by.
        required: false
        type: string
        default: market_cap
      - name: sort_dir
        in: query
        description: 'Valid values: `asc` `desc`. The direction in which to order cryptocurrencies against the specified sort.'
        required: false
        type: string
      - name: cryptocurrency_type
        in: query
        description: 'Valid values: `all` `coins` `tokens` The type of cryptocurrency to include.'
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/MarketData'
              status:
                $ref: '#/definitions/Status'
        default:
          description: Unexpected error
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/Status'
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    name: X-CMC_PRO_API_KEY
    in: header
definitions:
  Platform:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      symbol:
        type: string
      slug:
        type: string
      token_address:
        type: string
    description: Metadata about the parent cryptocurrency platform this cryptocurrency belongs to if it is a token, otherwise null.
  Map:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      symbol:
        type: string
      slug:
        type: string
      is_active:
        type: integer
        format: int64
      first_historical_data:
        type: string
        format: date-time
      last_historical_data:
        type: string
        format: date-time
      platform:
        $ref: '#/definitions/Platform'
  Info:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      symbol:
        type: string
      category:
        type: string
      slug:
        type: string
      logo:
        type: string
      tags:
        type: array
        description: coin tags
        items:
          type: string
      description:
        type: string
      date_added:
        type: string
        format: date-time
      platform:
        $ref: '#/definitions/Platform'
      urls:
        $ref: '#/definitions/Info_urls'
  MarketData:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      symbol:
        type: string
      slug:
        type: string
      cmc_rank:
        type: integer
        format: int32
      num_market_pairs:
        type: integer
        format: int32
      circulating_supply:
        type: integer
        format: int64
      total_supply:
        type: integer
        format: int64
      max_supply:
        type: integer
        format: int64
      last_updated:
        type: string
        format: date-time
      date_added:
        type: string
        format: date-time
      tags:
        type: array
        items:
          type: string
      platform:
        $ref: '#/definitions/Platform'
      quote:
        type: object
        additionalProperties:
          $ref: '#/definitions/Quote'
  Quote:
    type: object
    properties:
      price:
        type: number
        format: float
      volume_24h:
        type: integer
        format: int64
      percent_change_1h:
        type: number
        format: float
      percent_change_24h:
        type: number
        format: float
      percent_change_7d:
        type: number
        format: float
      market_cap:
        type: integer
        format: int64
      last_updated:
        type: string
        format: date-time
  Status:
    type: object
    properties:
      timestamp:
        type: string
        format: date-time
      error_code:
        type: integer
        format: int64
      error_message:
        type: string
      elapsed:
        type: integer
        format: int64
      credit_count:
        type: integer
        format: int64
  inline_response_200:
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Map'
      status:
        $ref: '#/definitions/Status'
  inline_response_default:
    properties:
      status:
        $ref: '#/definitions/Status'
  inline_response_200_1:
    properties:
      data:
        type: object
        additionalProperties:
          $ref: '#/definitions/Info'
      status:
        $ref: '#/definitions/Status'
  inline_response_200_2:
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/MarketData'
      status:
        $ref: '#/definitions/Status'
  Info_urls:
    properties:
      website:
        type: array
        items:
          type: string
      explorer:
        type: array
        items:
          type: string
      source_code:
        type: array
        items:
          type: string
      message_board:
        type: array
        items:
          type: string
      chat:
        type: array
        items:
          type: string
      announcement:
        type: array
        items:
          type: string
      reddit:
        type: array
        items:
          type: string
      twitter:
        type: array
        items:
          type: string
    description: Players associated with the
